body {
    color: rgb(45, 40, 68);
    background: rgb(235, 170, 235);
    margin: 0px;
    font-family: "DM Serif Text", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(125, 131, 193); /* cor da borda detalhe */
    padding: 20px;
    font-size: 32px;
    color: rgb(85, 89, 135);
}

.chamada {
    background: rgb(125, 131, 193);  /* cor do meio */ 
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 30px; /* espaço entre logo e texto */
}

.logo {
    height: 100px; /* ajuste o tamanho conforme necessário */
    width: auto;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 15px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(125, 131, 193);
}

.categoria h2 {
    color: rgb(0, 0, 0);
    font-size: 26px;
}